
    .nav-item{
        position:relative;
    display:block;
      top: 0px;
      left: 0px;
      padding: 0 0.5em;
      border-left: 2px solid #FFFFFF;
      transition-property:box-shadow, top, left;
      transition-duration:0.6s, 0.6s, 0.6s;
      font-weight:bold;
    }
    .nav-item:hover{
        position:relative;
        display:block;
        box-shadow: 6px 6px 2px 1px rgba(29, 82, 27, 0.7);
        top:-3px;
        left:-3px;
        transition-property:box-shadow, top, left;
        transition-duration:0.3s, 0.3s, 0.3s;
    }
   .nav-item:is(:last-child){
      border-right: 2px solid #FFFFFF;
      
    }
    
@media screen and (min-width: 601px) {
    .wrap{
        position:relative;
        display:inline-block;
        top:-0.25em;
        left:0em;
        padding:5px;
        box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, 0.7);
        transition-property:box-shadow, top, left;
        transition-duration:0.3s, 0.3s, 0.3s;
        overflow:hidden;
    }
    .centertitle>h1{
        
        font-size:0.5em;
        
    }
    .navbar > .centertitle{
        position:relative;
        width:50%;
        height:1em;
        padding:10px;
        
      }
    .wrap:hover{
            box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.7);
            top:-0.4em;
            left:-0.3em;
            transition-property:box-shadow, top, left;
            transition-duration:0.3s, 0.3s, 0.3s;
        
    }
}
/*@media screen and (max-width: 600px) {
    
    .navbar > .nav-item {
        font-size:0.4em;
    }
    .centertitle>h1{
        font-size:0.4em;
    }
    .centertitle{
        margin:auto;
        padding:10px;
    }
    .wrap{
        position:relative;
        display:inline-block;
        top:-0.4em;
        left:0em;
        padding:5px;
        box-shadow: 4px 4px 1px 0.5px rgba(0, 0, 0, 0.7);
        transition-property:box-shadow, top, left;
        transition-duration:0.3s, 0.3s, 0.3s;
    }
    .centertitle>h1{
        
        font-size:0.5em;
    }
    .navbar > .centertitle{
        position:relative;
        width:50%;
        height:0.8em;
        padding:10px;
      }
    .wrap:hover{
            box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, 0.7);
            top:-0.5em;
            left:-0.4em;
            transition-property:box-shadow, top, left;
            transition-duration:0.3s, 0.3s, 0.3s;
        
    }
  }
*/
.type{
    position:absolute;
    display:block;
    height:90%;
    width:98%;
    left:2%;
    background-color:#343a40;
    border-left: .15em solid white;
    animation: blink .8s infinite, typing 0.5s 1s steps(16, end) forwards;
}

@keyframes typing {
    from { left: 2% }
    to { left: 98% }
  }
  @keyframes blink {
    from { border-color: transparent }
    to { border-color: white; }
  }

  body { margin-top: 100px; height: calc(100%-100px)  }

.owl-carousel {
    width: 100%;
    
}
#ctf-carousel{
    
}
#ctf-carousel .card{
    padding: 10px;
    background:transparent;
    color:white;
    border-color:white;
}

#ctf-carousel .item{
    margin: 10px;
    margin-left: 60px;
    margin-right: 60px;
    /*min-width:900px;
    min-height:90px;*/
    overflow-wrap: break-word;
    /*max-width: 900px;*/
    min-width:80%;

}
.card-footer {
    background: transparent;
    border-top: 0px;
  }

#ctf-carousel .form-control{
    width: 30%;
    box-shadow: 6px 6px 2px 1px rgba(29, 82, 27, 0.7);
    margin-left: auto;
    border:solid #28a745 1px;
}
#ctf-carousel .flagform {
    text-align: center;
    margin: auto;
}
#ctf-carousel .flagform > button{
    display: block;
    position: relative;
    margin-left: 20px;
    box-shadow: -3px 8px 2px 1px rgba(29, 82, 27, 0.7);
    margin-right:auto;
}
#ctf-carousel .challtext{
    display:block;
    overflow-wrap: break-word;
    white-space: pre-line;
    margin:auto;
    max-width: 100%;
    padding-left: 10%;
    padding-right:10%;
    padding-top: 10px;
    padding-bottom:10px;
}

.hint-btn{
    background-color:MediumPurple;
    color:white;
}

.login-shadow{
    box-shadow: 0px 7px 2px 10px rgb(0, 0, 0, 0.5);
}

.toast.show {
    z-index:4;

}

#loginbtn{
    width: 60%;
    height: 65px;
    transition: width 0.8s;
    text-align:center;
}
.test{
    width: 50px;
    height:50px;
}
.spin > p {
    position:relative;
    font-size:2.2em;
    bottom:35%;
    right:10%;
    text-align: center;
    vertical-align: middle;
    
}
  .spin {
    width: 50px;
    height: 50px;

    animation-name: spin;
    animation-duration: 800ms;
    padding-bottom:5%;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    /* transform: rotate(3deg); */
     /* transform: rotate(0.3rad);/ */
     /* transform: rotate(3grad); */ 
     /* transform: rotate(.03turn);  */
  }
  .spin2 > p {
    position:relative;
    font-size:3.5em;
    text-align: center;
    
    
}
.spin3 {
    display: inline-block;
    border:solid;
    border-radius:50%;
    border-width:7px;
    border-top: 9px solid rgb(0, 0, 0, 0);
    border-left: 9px solid #4CAF50;
    border-right:9px solid #4CAF50;
    border-bottom:9px solid #4CAF50;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    margin-right:auto;
}
.test2{
    position:relative;

    display:inline-block;
    width:auto;
    top:20%;
}
.test2 > p {
    font-size:1.2em;
    font-weight:580;
    padding-left:4%;
    color:#4CAF50;
}
  .spin2 {
      display: inline-block;
      position:relative;
      
    height: 90px;
    width: 90px;
    animation-name: spin;
    animation-duration: 1330ms;
    animation-iteration-count: infinite;
    animation-direction:reverse;
    animation-timing-function:linear;
    /* transform: rotate(3deg); */
     /* transform: rotate(0.3rad);/ */
     /* transform: rotate(3grad); */ 
     /* transform: rotate(.03turn);  */
  }
  
  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
  }
  .holder{
      z-index:-15;
      position:fixed;
      display:block;
      height:100%;
      width:100%;
    margin:auto;
    text-align:center;
    user-select:none;

  }
  .holder > * {
      z-index:-15;
  }
.gradientbody {
    background: linear-gradient(rgb(13, 110, 0), rgb(2, 93, 121));
    background-repeat: no-repeat;
    background-attachment: fixed;
}
